header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(5, 20, 27, 0.00) 0%, rgba(5, 20, 27, 0.60) 27.40%, rgba(5, 20, 27, 0.60) 74.27%, rgba(5, 20, 27, 0.00) 100%);
    color: white;
    position: fixed;
    top:0;
    z-index: 2;
  }
  .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu {
    cursor: pointer;
  }
  .menu  svg{
    width: 35px;
    height: 35px;
    
  }
  .menu path{
    transition: fill 0.3s ease;
  }
  .menu:hover path{
    stroke: #F19D59;
  }