html,
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Gruppo', sans-serif;
  /* font-family: helvetica, arial, sans-serif; */
}
#cesiumContainer {
  height: 100%;
  z-index: 1;
}

/* Ocultar la barra inferior*/
.cesium-viewer-timelineContainer,
.cesium-viewer-animationContainer,
.cesium-viewer-bottom,
.cesium-viewer-fullscreenContainer {
  display: none !important;
}